
/* This file includes styling specific to junior users only. */


/* Make font sizes larger */
.nav__link { font-size: 1.4rem; }
body { font-size: 1.6rem; }


/* Change background color of pages to green/yellow gradient */
body {
  background-image: linear-gradient(#0a2409, #8b874d);
  background-repeat: no-repeat;
  background-attachment: fixed;
}