/* Variables
--------------------------------------------*/

/* Colors */
$primaryColor: #49b171;
$secondaryColor: #ee6d49;
$white: #f3f3f3;
$lightGrey: #d6d6d6;
$mediumGrey: #5c5c5c;
$darkGrey: #3b3b3b;
$black: #1a1a1a;

/* Fonts */
$primaryFont: 'Open Sans', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;