
/* ADMIN NEW USER
--------------------------------------------*/

.admin-new-user {
  min-height: 100%;
  width: 100%;

  &__container {
    width: 30%;
    max-width: 1200px;
    padding: 12rem 0;
  }

  &__heading {
    text-align: center;
    margin-bottom: 8rem;
  }

  &__success {
    @include display-flex;
    color: $color-primary;
    margin-top: 3rem;
  }
}