
/* CONTACT
--------------------------------------------*/

.contact {
  min-height: 100%;
  width: 100%;


  // Width determines width of form
  // Display-flex spaces out section toggler, heading and form to make use of all vertical space
  // Padding sets maximum top and bottom for container content
  &__container {
    width: 30%;
    padding: 12rem 0;
    @include display-flex($direction: column, $justify: space-between);
  }

  &__subheading {
    text-align: center;
    max-width: 75%;
    padding: 5rem 0;
  }

  &__success {
    @include display-flex;
    color: $color-primary;
    margin-bottom: 3rem;
    font-size: 1.8rem;
  }

  // Padding-bottom stops form, heading and subheading being too vertically spread out
  &__form { padding-bottom: 2rem; }
}





/* MEDIA QUERIES
--------------------------------------------*/

@media only screen and (max-width: 1650px) {
  .contact {
    
    &__container { width: 45%; }

    &__subheading { max-width: 80%; }
  }
}


@media only screen and (max-width: 1024px) {
  .contact {
    
    &__container { width: 55%; }

    &__subheading { max-width: 90%; }
  }
}


@media only screen and (max-width: 800px) {
  .contact {
    &__container { width: 75%; }
  }
}


@media only screen and (max-width: 500px) {
  .contact {
    &__container { width: 90%; }

    &__heading { font-size: 3.8rem; }
  }
}