
/* HOMEPAGE
--------------------------------------------*/

.hero {
  height: 100%;
  width: 100%;

  // Position: relative -> hero__button--absolute is positioned absolute
  // Height 90% moves content up the page, leaving space for the "What's On?" button at the bottom
  &__container {
    @include display-flex;
    position: relative;
    height: 90%;
  }


  // Left side
  &__left-side { width: 60%; }

  &__main-title {
    font-size: 9rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    padding: 2.5rem 0 4.5rem 0;
    color: $light-grey;

    &--primary-color {
      color: $color-primary;
    }
  }


  // Right side
  &__right-side {
    width: 40%;
    text-align: center;
  }

  // Vertically align "Become a member today ..." with main title "LIMELIGHT"
  &__sub-title { padding-top: 4.6rem; }

  &__info {
    width: 50%;
    font-size: 1.6rem;
    margin: 0 auto;
    padding: 2.5rem 0 4.6rem 0;
  }


  // Makes hero buttons larger than global default buttons
  &__button {
    min-width: 20rem;

    // Make What's On? button use button--primary for adult users (PHP)
    &--absolute-primary {
      min-width: 35rem;
      position: absolute;
      top: 90%;
    }

    // Give What's On? button background alpha for junior/unregistered users (PHP)
    &--absolute-positive {
      min-width: 35rem;
      position: absolute;
      top: 90%;

      // Helps What's On? button to stand out against background
      // Applies to unregistered and junior users only
      background-color: rgba($color: $medium-grey, $alpha: 0.2);
    }
  }
}





/* MEDIA QUERIES
--------------------------------------------*/

// Width-dependent desktop content sizing
@media only screen and (max-width: 1600px) {
  .hero {

    &__main-title { font-size: 8rem; }
  
    &__info { width: 55%; }
  }
}


@media only screen and (max-width: 1366px) {
  .hero {
  
    &__main-title {
      font-size: 7rem;
      padding: 2.5rem 0 3rem 0;
    }

    &__sub-title { font-size: 2rem; }
  
    &__info {
      width: 65%;
      padding: 2.5rem 0 3.2rem 0;
    }
  }
}





// Mobile break point - width & height dependent
// Large tablet - portrait
@media only screen and (max-width: 1024px) and (max-height: 1400px) {
  .hero {

    &__container { @include display-flex($direction: column, $justify: space-between); }


    // Top section
    &__left-side {
      width: 100%;
      text-align: center;
      margin-top: 25rem; // Used to position titling vertically
    }

    &__main-title {
      font-size: 9rem;
      padding: 2.5rem 0;
    }

    // Bottom section
    &__right-side {
      width: 100%;
      margin-bottom: 30rem; // used to position the register button stuff vertically
    }

    &__sub-title {
      font-size: 2.5rem;
      padding-top: 2rem;
    }

    &__info {
      width: 55%;
      font-size: 1.8rem;
    }


    &__button {
      min-width: 35rem;
      margin-top: 2.5rem;

      &--absolute-primary,
      &--absolute-positive {
        position: absolute;
        top: 78%; // used to position What's On button vertically
      }
    }
  }
}


// Small tablet - portrait
@media only screen and (max-width: 800px) and (max-height: 1024px) {
  .hero {

    // Top section
    &__left-side { margin-top: 22rem; } // Used to position titling vertically

    // Bottom section
    &__right-side { margin-bottom: 20rem; } // used to position the register button stuff vertically


    &__button {
      &--absolute-primary,
      &--absolute-positive {
        top: 82%; // used to position What's On button vertically
      }
    }
  }
}


// Small tablet - landscape
@media only screen and (max-width: 1024px) and (max-height: 900px) {
  .hero {

    // Top section
    &__left-side { margin-top: 18rem; } // Used to position titling vertically

    // Bottom section
    &__right-side { margin-bottom: 11rem; } // used to position the register button stuff vertically

    &__main-title { font-size: 8rem; }

    &__sub-title { display: none; }

    &__info { display: none; }

    &__button {
      &--absolute-primary,
      &--absolute-positive {
        top: 88%; // used to position What's On button vertically
      }
    }
  }
}


// Most phones - portrait
@media only screen and (max-width: 450px) and (max-height: 850px) {
  .hero {
    &__main-title { font-size: 4.5rem; }
  }
}


// Small phones - portrait
@media only screen and (max-width: 400px) {
  .hero {
    &__button {
      min-width: 100%;
      width: 100%;
      max-width: 100%;
      &--absolute-primary,
      &--absolute-positive {
        min-width: 100%;
        width: 100%;
        max-width: 100%;
      }
    }
  }
}


// Most phones - landscape
@media only screen and (max-width: 900px) and (max-height: 450px) {
  .hero {

    // Top section
    &__left-side { margin-top: 9rem; } // Used to position titling vertically

    &__main-title { font-size: 6rem; }

    // Bottom section
    &__right-side { margin-bottom: 7.5rem; } // used to position the register button stuff vertically

    &__button {
      &--absolute-primary,
      &--absolute-positive {
        top: 90%; // used to position What's On button vertically
      }
    }
  }
}


// Small phones - landscape
@media only screen and (max-width: 580px) and (max-height: 350px) {
  .hero {

    // Top section
    &__left-side { margin-top: 8.5rem; } // Used to position titling vertically

    &__main-title {
      font-size: 5rem;
      padding: 1rem 0 0 0;
    }
  }
}