
/* LOGIN & REGISTER
--------------------------------------------*/

.login-register {
  min-height: 100%;
  width: 100%;


  // Width determines width of form
  // Display-flex spaces out section toggler, heading and form to make use of all vertical space
  // Padding sets maximum top and bottom for container content
  &__container {
    width: 30%;
    padding: 12rem 0;
    @include display-flex($direction: column, $justify: space-between);
  }

  &__heading { padding: 5rem 0; }
}


// Display:none toggled between login and register forms by JS toggleSection() function
.login__form,
.register__form { display: none; }


// Padding-bottom stops section toggler, heading and form being too vertically spread out
.login__form { padding-bottom: 20rem; }





/* MEDIA QUERIES
--------------------------------------------*/

@media only screen and (max-width: 1650px) {
  .login-register {
    &__container { width: 45%; }
  }
}


@media only screen and (max-width: 1024px) {
  .login-register {
    &__container { width: 55%; }
  }
}


@media only screen and (max-width: 800px) {
  .login-register {
    &__container { width: 75%; }
  }
}


@media only screen and (max-width: 500px) {
  .login-register {
    &__container { width: 90%; }

    &__heading { font-size: 3.8rem; }
  }
}