
/* NAVIGATION
--------------------------------------------*/

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 6.5rem;
  background-color: $medium-grey;
  z-index: 1000;
  @include box-shadow;

  &__container {
    @include display-flex($justify: space-between);
  }

  &__logo {
    // 3.8rem = same height as button components
    height: 3.8rem;
    cursor: pointer;
  }

  &__list {
    height: 80%;
    list-style: none;
    @include display-flex;
  }

  &__item {
    height: 100%;
    @include display-flex;
  }

  &__link {
    height: 100%;
    margin-left: 5rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    @include display-flex;
    @include transition;

    &:hover { color: $white-hover; }
  }

  &__button {
    margin-left: 5rem;

    // '!important' overrides the default button padding used for the rest of the website
    padding: 0 1.2rem !important;
  }
}