
/* NAVIGATION
--------------------------------------------*/

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background-color: $medium-grey;
  @include box-shadow;

  &__container {
    @include display-flex($justify: space-between);
  }

  &__logo {
    height: 80%;
    padding: 2rem 0;
    cursor: pointer;
  }

  &__list {
    height: 80%;
    list-style: none;
    @include display-flex;
  }

  &__item {
    height: 100%;
    @include display-flex;
  }

  &__link {
    height: 100%;
    margin-left: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    @include display-flex;
    @include transition;

    &:hover { color: $white-hover; }
  }

  &__separator {
    height: 50%;
    border-left: 2px solid $dark-grey;
    margin-left: 3rem;
  }
}