
/* BUTTONS
--------------------------------------------*/

// Core button code to be used in all button types.
// Mixin created to allow for use of '@include button' instead of '@extend .button'.
@mixin button {
  display: inline-block;
  height: 3.8rem;
  padding: 0 3rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 3.8rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid $white;
  cursor: pointer;
  @include transition;
}


.button {
  @include button;
  &:hover,
  &:focus {
    border-color: $white-hover;
    outline: 0;
  }


  &--primary {
    @include button;
    background-color: $color-primary;
    border-color: $color-primary;

    &:hover,
    &:focus {
      background-color: $color-primary-hover;
      border-color: $color-primary-hover; 
    }
  }


  &--positive {
    @include button;
    &:hover,
    &:focus {
      background-color: $color-primary;
      border-color:  $color-primary; 
    }
  }


  &--negative {
    @include button;
    &:hover,
    &:focus {
      background-color:$color-secondary;
      border-color: $color-secondary; 
    }
  }
}