
/* COLOURS
--------------------------------------------*/

$color-primary: #49b171;
$color-secondary: #ee6d49;

$white: #f3f3f3;
$black: #1a1a1a;

$light-grey: #d6d6d6;
$medium-grey: #5c5c5c;
$dark-grey: #3b3b3b;

// RGB same as $color-primary above
$color-primary-hover: rgba(73,177,113, 0.8);

// RGB same a $white above
$white-hover: rgba(243, 243, 243, 0.6);





/* FONTS
--------------------------------------------*/

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Montserrat', sans-serif;