
/* COLOURS
--------------------------------------------*/

$color-primary: #49b171;
$color-secondary: #ee6d49;

$white: #f3f3f3;
$black: #1a1a1a;

$light-grey: #d6d6d6;
$medium-grey: #5c5c5c;
$dark-grey: #3b3b3b;


// Hover versions of above colors with reduced opacity
// RGB values same as hex values above
$color-primary-hover: rgba(73,177,113, 0.8);
$white-hover: rgba(243, 243, 243, 0.6);
$medium-grey-hover: rgba(92, 92, 92, 0.6);





/* FONTS
--------------------------------------------*/

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Montserrat', sans-serif;





/* BORDERS
--------------------------------------------*/

$border-radius-default: 4px;